.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-ul li a{
    color: #fff;
    padding: 5px;
    text-decoration: none;
}
.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.header {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;

}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
  border-radius : "50px";
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 25px;
  border: 2px solid rgba(226, 2, 2, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #661d48;
  border: 1px solid #01d28e;
  color: rgb(167, 52, 52);
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #9a313d;
}
input:hover {
  background: #60cd76;
}

.button-container[type=submit] {
  position: center;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border: 1px;
  margin: 10px 10px 10px 500px;
  justify-content: center;
  border-radius: 50px;
}

.btn1{
  position: center;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border: 1px;
  margin: 10px 20px 30px 460px; 
  font-weight: 600;
  justify-content: center;
 
}

.btn2{
  position: center;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border: 1px;
  margin: 10px 20px 30px 10px; 
  font-weight: 600;
  justify-content: center;
}

.register_btn1{
  position: center;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border: 1px;
  margin: 10px 20px 30px 510px; 
  font-weight: 600;
  justify-content: center;

}


.login-form {
  background-color: rgb(87, 187, 214);
  padding: 10px 20px 20px 10px;
  border-width: 10px  20px 30px 10px;
  border-color:rgb(65, 121, 146);
  border-style: solid;
  margin: 10px 20px 10px 100px ;
  box-shadow: 10px 10px 10px 5px rgb(30, 29, 29);
  border-radius : "50px";
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 20px;

}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  color:#000000;
  font-weight: 700;
  margin: 5px 20px 5px 380px;
  border-radius : "50px";
}

h2 {
  margin-bottom: 5px;
  margin-left: 70px;
  text-align: center;
  text-shadow: 0 4px 16px #fff;
  font-size: 30px;
  font-weight: 100;
}

.container{
  position: absolute;
  padding: 10px  ;
  border: 10px 20px 20px 10px solid rgb(14, 176, 60);
  margin: 10px 20px 20px 10px;
  border-radius : "50px";
}


  